### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df= pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Dataset general view
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Checking if there are null cells within the dataset
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
# Checking if there are more than one "SN" in the dataset
sn_counts = purchase_data_df["SN"].value_counts()
sn_counts

Lisosia93         5
Idastidru52       4
Iral74            4
Pheodaisun84      3
Chadolyla44       3
                 ..
Jiskadarst60      1
Yarithsurgue62    1
Mindirranya33     1
Asty82            1
Hariphos58        1
Name: SN, Length: 576, dtype: int64

In [5]:
# Defining the unique values for "SN"
sn_unique= purchase_data_df["SN"].unique()
#Calculating the total uniques "SN"
total_players = [len(sn_unique)]

In [6]:
# Convertimg total uniques "SN" into a Dataframe, to display the total number of players

player_count_df = pd.DataFrame({"Total Players":total_players})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Calculating Unique items an total of unique items
unique_items= purchase_data_df["Item ID"].unique()
total_items = [len(unique_items)]

# Calculating Average Price
avg_price = purchase_data_df["Price"].mean()

# Calculating Number of Purchases

purchases_number = len(purchase_data_df["Purchase ID"])

# Total Revenue

total_revenue = purchase_data_df["Price"].sum()

In [8]:
# Purchasing Analysis DataFrame

purchase_analysis_df = pd.DataFrame({"Number of Unique Items":total_items,"Average Price":avg_price,
                                     "Number of Purchases":purchases_number,"Total Revenue":total_revenue})
purchase_analysis_df.style.format({"Average Price":"${:.2f}","Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [32]:
grouped_purchase_data_df = purchase_data_df.groupby(["SN","Gender"]).count()
grouped_purchase_data_df

                      Purchase ID  Age  Item ID  Item Name  Price
SN            Gender
Adairialis76  Male              1    1        1          1      1
Adastirin33   Female            1    1        1          1      1
Aeda94        Male              1    1        1          1      1
Aela59        Male              1    1        1          1      1
Aelaria33     Male              1    1        1          1      1
...                           ...  ...      ...        ...    ...
Yathecal82    Female            3    3        3          3      3
Yathedeu43    Male              2    2        2          2      2
Yoishirrala98 Female            1    1        1          1      1
Zhisrisu83    Male              2    2        2          2      2
Zontibe81     Male              3    3        3          3      3

[576 rows x 5 columns]

In [33]:
grouped_purchase_df = grouped_purchase_data_df.reset_index()
grouped_purchase_df

                SN  Gender  Purchase ID  Age  Item ID  Item Name  Price
0     Adairialis76    Male            1    1        1          1      1
1      Adastirin33  Female            1    1        1          1      1
2           Aeda94    Male            1    1        1          1      1
3           Aela59    Male            1    1        1          1      1
4        Aelaria33    Male            1    1        1          1      1
..             ...     ...          ...  ...      ...        ...    ...
571     Yathecal82  Female            3    3        3          3      3
572     Yathedeu43    Male            2    2        2          2      2
573  Yoishirrala98  Female            1    1        1          1      1
574     Zhisrisu83    Male            2    2        2          2      2
575      Zontibe81    Male            3    3        3          3      3

[576 rows x 7 columns]

In [34]:
#Calculating Males Count
male_gender_df = grouped_purchase_df.loc[(grouped_purchase_df["Gender"]=="Male")]
male_gender_count = len(male_gender_df["Gender"])

#Calculating Female Count
female_gender_df = grouped_purchase_df.loc[(grouped_purchase_df["Gender"]=="Female")]
female_gender_count = len(female_gender_df["Gender"])

#Calculating Other/ Non-Disclosed
other_gender_df = grouped_purchase_df.loc[(grouped_purchase_df["Gender"]=="Other / Non-Disclosed")]
other_gender_count = len(other_gender_df["Gender"])

#Total Gender

gender_total_count = male_gender_count + female_gender_count + other_gender_count

# Calculating Percentages
male_percentage = (male_gender_count/gender_total_count)
female_percentage =(female_gender_count/gender_total_count)
other_percentage = (other_gender_count/gender_total_count)

In [35]:
#Unique "Gender"
gender_type = grouped_purchase_df["Gender"].unique()

# Generating the summary DataFrame
gender_demographics_df = pd.DataFrame({"Total Count":[male_gender_count,female_gender_count,other_gender_count],
                                       "Percentage of Players":[male_percentage,female_percentage, other_percentage]})

# Assigning Gender class as index of gender_demographics_df
gender_demographics_df = gender_demographics_df.set_index(gender_type)

# Then Format to go to two decimal places, include a dollar sign, and use comma notation
gender_demographics_df["Percentage of Players"] =gender_demographics_df["Percentage of Players"].map("{:.2%}".format)
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [151]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [152]:
# Calculating Average Price for Male, Total purchase for Male, Total Average per Male person
male_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male", :]
male_price_mean= male_df["Price"].mean()
male_price_sum= male_df["Price"].sum()
male_avg_byperson = male_price_sum/male_gender_count
male_purchase_count = len(male_df)

# Calculating Average Price for female, Total purchase for female, Total Average per female person
female_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female", :]
female_price_mean= female_df["Price"].mean()
female_price_sum= female_df["Price"].sum()
female_avg_byperson = female_price_sum/female_gender_count
female_purchase_count = len(female_df)

# Calculating Average Price for female,Total purchase for Other, Total Average per Other person

other_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed", :]
other_price_mean= other_df["Price"].mean()
other_price_sum= other_df["Price"].sum()
other_avg_byperson = other_price_sum/other_gender_count
other_purchase_count = len(other_df)
other_purchase_count

15

In [153]:
purchase_count_df = purchase_data_df.groupby("Gender")

purchasing_count_series = purchase_count_df["Purchase ID"].count()
purchasing_count_series

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [154]:
#Generating the Purchasing Analysis DataFrame
purchasing_analysis_df = pd.DataFrame({"Purchase Count":[male_purchase_count, female_purchase_count, other_purchase_count],
                                        "Average Purchase Price":[male_price_mean, female_price_mean, other_price_mean],
                                        "Total Purchase Value":[male_price_sum, female_price_sum, other_price_sum],
                                        "Avg Total Purchase per Person":[male_avg_byperson, female_avg_byperson, other_avg_byperson],
                                      "Gender":gender_type})
                                        
                                        
# Assigning Gender class as index of gender_demographics_df

purchasing_analysis_df = purchasing_analysis_df.set_index("Gender")


#Defining Format to currency and 2 decimals

purchasing_analysis_df["Average Purchase Price"] = purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"] = purchasing_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_df["Avg Total Purchase per Person"] = purchasing_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

#Alphabethical Order
purchasing_analysis_df.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame