### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df= pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Dataset general view
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Checking if there are null cells within the dataset
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [4]:
# Checking if there are more than one "SN" in the dataset
sn_counts = purchase_data_df["SN"].value_counts()
sn_counts

Lisosia93        5
Idastidru52      4
Iral74           4
Silaera56        3
Phaena87         3
                ..
Rastynusuir31    1
Iskossasda43     1
Aidai53          1
Lirtastan49      1
Mindirranya33    1
Name: SN, Length: 576, dtype: int64

In [5]:
# Defining the unique values for "SN"
sn_unique= purchase_data_df["SN"].unique()
#Calculating the total uniques "SN"
total_players = [len(sn_unique)]

In [6]:
# Convertimg total uniques "SN" into a Dataframe, to display the total number of players

player_count_df = pd.DataFrame({"Total Players":total_players})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Calculating Unique items an total of unique items
unique_items= purchase_data_df["Item ID"].unique()
total_items = [len(unique_items)]

# Calculating Average Price
avg_price = purchase_data_df["Price"].mean()

# Calculating Number of Purchases

purchases_number = len(purchase_data_df["Purchase ID"])

# Total Revenue

total_revenue = purchase_data_df["Price"].sum()

In [8]:
# Purchasing Analysis DataFrame

purchase_analysis_df = pd.DataFrame({"Number of Unique Items":total_items,"Average Price":avg_price,
                                     "Number of Purchases":purchases_number,"Total Revenue":total_revenue})
purchase_analysis_df.style.format({"Average Price":"${:.2f}","Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
grouped_purchase_data_df = purchase_data_df.groupby(["SN","Gender"]).count()
grouped_purchase_data_df

                      Purchase ID  Age  Item ID  Item Name  Price
SN            Gender
Adairialis76  Male              1    1        1          1      1
Adastirin33   Female            1    1        1          1      1
Aeda94        Male              1    1        1          1      1
Aela59        Male              1    1        1          1      1
Aelaria33     Male              1    1        1          1      1
...                           ...  ...      ...        ...    ...
Yathecal82    Female            3    3        3          3      3
Yathedeu43    Male              2    2        2          2      2
Yoishirrala98 Female            1    1        1          1      1
Zhisrisu83    Male              2    2        2          2      2
Zontibe81     Male              3    3        3          3      3

[576 rows x 5 columns]

In [10]:
grouped_purchase_df = grouped_purchase_data_df.reset_index()
grouped_purchase_df

                SN  Gender  Purchase ID  Age  Item ID  Item Name  Price
0     Adairialis76    Male            1    1        1          1      1
1      Adastirin33  Female            1    1        1          1      1
2           Aeda94    Male            1    1        1          1      1
3           Aela59    Male            1    1        1          1      1
4        Aelaria33    Male            1    1        1          1      1
..             ...     ...          ...  ...      ...        ...    ...
571     Yathecal82  Female            3    3        3          3      3
572     Yathedeu43    Male            2    2        2          2      2
573  Yoishirrala98  Female            1    1        1          1      1
574     Zhisrisu83    Male            2    2        2          2      2
575      Zontibe81    Male            3    3        3          3      3

[576 rows x 7 columns]

In [11]:
#Calculating Males Count
male_gender_df = grouped_purchase_df.loc[(grouped_purchase_df["Gender"]=="Male")]
male_gender_count = len(male_gender_df["Gender"])

#Calculating Female Count
female_gender_df = grouped_purchase_df.loc[(grouped_purchase_df["Gender"]=="Female")]
female_gender_count = len(female_gender_df["Gender"])

#Calculating Other/ Non-Disclosed
other_gender_df = grouped_purchase_df.loc[(grouped_purchase_df["Gender"]=="Other / Non-Disclosed")]
other_gender_count = len(other_gender_df["Gender"])

#Total Gender

gender_total_count = male_gender_count + female_gender_count + other_gender_count

# Calculating Percentages
male_percentage = (male_gender_count/gender_total_count)
female_percentage =(female_gender_count/gender_total_count)
other_percentage = (other_gender_count/gender_total_count)

In [12]:
#Unique "Gender"
gender_type = grouped_purchase_df["Gender"].unique()

# Generating the summary DataFrame
gender_demographics_df = pd.DataFrame({"Total Count":[male_gender_count,female_gender_count,other_gender_count],
                                       "Percentage of Players":[male_percentage,female_percentage, other_percentage]})

# Assigning Gender class as index of gender_demographics_df
gender_demographics_df = gender_demographics_df.set_index(gender_type)

# Then Format to go to two decimal places, include a dollar sign, and use comma notation
gender_demographics_df["Percentage of Players"] =gender_demographics_df["Percentage of Players"].map("{:.2%}".format)
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Grouping by Gender
purchase_count_df = purchase_data_df.groupby("Gender")

purchasing_count_series = purchase_count_df["Purchase ID"].count()
purchasing_count_series

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [14]:
#Extracting unique "SN" from ByGroup Gender
purchase_unique_values= purchase_count_df["SN"].unique()
users_bygender = purchase_unique_values.apply(lambda x: len(x))
users_bygender_df = users_bygender.to_frame()
users_bygender_df

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [15]:
# Aggregating analysis variables to purchase_count_df DataFrame

purchase_analysis_df = purchase_count_df.agg(Purchase_Count = pd.NamedAgg(column='Purchase ID', aggfunc='count'),
                     Average_Purchase_Price = pd.NamedAgg(column='Price', aggfunc='mean'),
                      Total_Purchase_Value = pd.NamedAgg(column='Price', aggfunc='sum'),
                      Avg_Total_Purchase_per_Person = pd.NamedAgg(column='Price', aggfunc= 'sum'))

#Calculating Avg_Total_Purchase_per_Person from purchase_person_df

purchase_analysis_df["Avg_Total_Purchase_per_Person"] = purchase_analysis_df["Avg_Total_Purchase_per_Person"]/ users_bygender_df["SN"]   

#Renaming Columns

purchase_analysis_df = purchase_analysis_df.rename(columns = {"Purchase_Count":"Purchase Count","Average_Purchase_Price":"Average Purchase Price",
                                                             "Total_Purchase_Value":"Total Purchase Value", "Avg_Total_Purchase_per_Person":"Avg Total Purchase per Person"})

#Formatting Columns to currency and 2 decimals

purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_df["Total Purchase Value"] = purchase_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_df["Avg Total Purchase per Person"] = purchase_analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
# Defining the max and min for Age

max_age = purchase_data_df["Age"].max()
min_age = purchase_data_df["Age"].min()

print(f"The Min age is {min_age} and the Max age is {max_age}")

The Min age is 7 and the Max age is 45

In [17]:
# Defining bins

bins= [0,9,14,19,24,29,34,39,max_age]

#Naming bins

bins_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [18]:
# Slicing the pd.cut

bins_purchase_data_df = purchase_data_df.copy()
bins_purchase_data_df["Age Range"] = pd.cut(bins_purchase_data_df["Age"], bins, labels=bins_names)
bins_purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [23]:
#Grouping by "Age Range"
age_bins_groups= bins_purchase_data_df.groupby("Age Range")

#Extracting unique players
age_uniques = age_bins_groups["SN"].unique()

#Counting unique players within each "Age Range"
players_counts = age_uniques.apply(lambda r: len(r))

#Converting series to DataFrame
players_counts_df = players_counts.to_frame()

#Adding "Percentage of Players Column"
players_counts_df["Percentage of Players"]= players_counts_df["SN"]/total_players

#Formatting
players_counts_df["Percentage of Players"]= players_counts_df["Percentage of Players"].map("{:.2%}".format)
players_counts_df

            SN Percentage of Players
Age Range
<10         17                 2.95%
10-14       22                 3.82%
15-19      107                18.58%
20-24      258                44.79%
25-29       77                13.37%
30-34       52                 9.03%
35-39       31                 5.38%
40+         12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame